html {
    background-color: rgba(255, 0, 255, 0.973);
}
ul li {
    list-style-type: none;
}
a {
    color: black;
    text-decoration: none;
}
img {
    width: 250px;
    margin-right: 30px;
}
body {
    width: 1250px;
    padding: 5px 5px 30px 10px;
    background-color: azure ;
    margin: 15px auto;
    border-radius: 8px;
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.nav ul{
    display: flex;
    width: 400px;
    justify-content: space-around;
}
.nav ul li button {
    padding: 3px 3px 3px 3px;
}
a:hover {
    color: crimson;
}
.intro {
    display: flex;
    width: 900px;
    margin: 30px auto;
}
.comment p {
    font-size: 24px;
    font-family: sans-serif;
}
h1 {
    font-size: 30px;
    font-family: sans-serif;
}
.skills {
    display: flex;
    width: 900px;
    margin: 30px auto;
    align-items: center;
}
.about-career {
    width: 600px;
}
h3 {
    font-size: 25px;
}
.about-career p {
    font-size: 20px;
    font-family: sans-serif;
    text-align: justify;
}
.my-skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-left: 10px;
}
.my-skills ul li {
    border-collapse: separate;
    border: 1px solid black;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: small;
}